<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Trivista-Partners | Dashboard</title>
<!-- Updated to relative paths for static assets -->
<link rel="stylesheet" href="../static/assets/flaticon/css/uicons-regular-rounded.css">
<link rel="stylesheet" href="../static/docs/css/dark.css" id="theme">
<link rel="stylesheet" href="../static/docs/css/main.css">
<link rel="shortcut icon" type="image/jpg" href="../static/assets/images/favicon.png" />
<link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
<link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/assets/fonts/fontawesome.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu|Lobster|Heebo|Roboto|Rajdhani|Open Sans|Lato|Source Sans Pro">
<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
<!-- Tel -->
<link rel="stylesheet" href="../static/assets/plugin/jquery/jquery-ui.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/css/intlTelInput.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/js/intlTelInput.min.js"></script>
<!-- End Tel -->
<style>
    p {
        font-size: 16px;
    }
</style>